.area-min {
    fill: rgba(70, 131, 180, 0.5);
    stroke: rgba(70, 131, 180);
    stroke-width: 2px;
}

.line-avg {
    fill: none;
    stroke:rgba(0, 0, 0, 0.7);
    stroke-width: 2px;
}
.area-max {
    fill: rgba(125, 226, 209, 0.5);
    stroke:rgba(125, 226, 209);
    stroke-width: 2px;
}

button {
    margin: 5px;
}

.mouseLine {
    stroke-width: 1px;
    opacity: 1;
    stroke: black;
}

.mouseLine.hidden {
    opacity: 0;
}