.area-min {
    fill: rgba(70, 131, 180);
    stroke: rgba(70, 131, 180);
    stroke-width: 1px;
}

.line-avg {
    fill: none;
    stroke:rgba(0, 0, 0);
    stroke-width: 1px;
}
.area-max {
    fill: rgba(125, 226, 209);
    stroke:rgba(125, 226, 209);
    stroke-width: 1px;
}

.container2d {
    width: auto;
    display: inline-flex;
    flex-direction: row;
}   

.checkboxContainer {
    display: inline-flex;
    flex-direction: column;
}

.timeseriesCheckbox {
    margin: 5px;
}

#tooltip {
    border: 1px solid;
    border-radius: 5%;
    font-size: small;
    width: 180px;
    position: absolute;
    pointer-events: none;
    background-color: rgba(243, 243, 243, 0.9);
}

.mouseLine {
    stroke-width: 1px;
    opacity: 1;
    stroke: black;
    pointer-events: none;
}

.mouseLine.hidden {
    opacity: 0;
}