.cubes-visualisation {
    width: fit-content;
} 

.overlay {
    background-color: rgba(0, 0, 0, 0.1);
    /*background-color: black;*/
    width: 900px;
    /*opacity: 0.1;
    filter: alpha(opacity = 0.1);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.1);*/
    position: absolute;
    z-index:5;
}

.timestamp {
    color: black !important;
    margin-top: .5rem;
    z-index: 50000;
}